#filter-title {
    color: #146894;
    text-transform: uppercase;
    font-weight: bold;
}

#search-filters > label {
    margin-top: 1em;
}
#search-filters > label:last-child {
    margin-bottom: 1em;
}
