<div id="modal-rgpd" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" (click)="fermerModale()">&times;</span>
            <h2>RGPD</h2>
        </div>
        <div class="modal-body">
            <h1><strong>POLITIQUE DE CONFIDENTIALITE</strong></h1>
            <h2><strong>1. INFORMATIONS GENERALES ET PERIMETRE</strong></h2>
            <p>La présente Politique de Confidentialité détaille la politique en matière de données à caractère personnel. Elle vise à vous informer des conditions dans lesquelles L'indicateur de fragilité collecte des données personnelles, des raisons pour lesquelles ces données sont collectées, l'utilisation qui en est faite et de vos droits. Elle s’applique à toutes les informations fournies par vous-même ou recueillies par L'indicateur de fragilité, à l’exception des données relatives à votre navigation sur le Site internet dont les conditions de traitement sont décrites dans la Charte d'utilisation des cookies.</p>
            <h2><strong>2. DONNEES TRAITEES</strong></h2>
            <p>L'indicateur de fragilité collecte des données lors de la requête de récupération du score pour une commune ou un quartier.</p>
            <p>L'indicateur de fragilité est amené à traiter les données suivantes :</p>
            - Commune et/ou quartier recherché et date/heure de cette recherche
            <h2><strong>3. TRAITEMENT DES DONNEES PAR L'indicateur de fragilité</strong></h2>
            <h3><strong>3.1 FINALITES DE LA COLLECTE DES DONNEES</strong></h3>
            <p>L'indicateur de fragilité traite les données dans le cadre des finalités suivantes :</p>
            - Statistiques sur les recherche réalisées
            <br>
            - Stockage en local des données recherchées pour un rechargement rapide et sans connexion au serveur du résultat
            <h3><strong>3.2 CONSERVATION DES DONNEES</strong></h3>
            <p>Les données sont conservées pendant une durée qui n’excède pas la durée nécessaire aux finalités pour lesquelles elles ont été collectées.</p>
            <h3><strong>3.3 DESTINATAIRES DES DONNEES</strong></h3>
            <p>Vos données sont destinées aux services L'indicateur de fragilité concernés par vos demandes, et aux éventuels sous-traitants en charge de l’exécution des commandes.</p>
            <h2><strong>4. SECURITE ET CONFIDENTIALITE DES DONNEES</strong></h2>
            <p>L'indicateur de fragilité s’efforce de mettre en place les précautions raisonnables pour préserver la confidentialité et la sécurité des données personnelles traitées et empêcher qu’elles ne soient déformées, endommagées, détruites ou que des tiers non autorisés y aient accès. Des mesures de sécurité technique et organisationnelle ont été instaurées à cet effet.</p>
            <h2><strong>5. VOS DROITS</strong></h2>
            <p>Conformément au droit applicable, vous disposez du droit :</p>
            - D'accéder et de rectifier vos données personnelles (droit d'accès et de rectification)
            <br>
            - De vous opposer au traitement de vos données personnelles pour des motifs légitimes (droit d'opposition)
            <br>
            - Dans les limites prévues par les textes, de demander à ce que les traitements de données vous concernant soient limités ou les données effacées (droit à la limitation et droit d'effacement)
            <br>
            - De recevoir vos données dans un format structuré, couramment utilisé et lisible afin de les transmettre à un autre responsable de traitement (droit à la portabilité)
            <p>Vous pouvez envoyer votre demande par écrit ou obtenir des informations complémentaires en contactant par courrier le site auquel vous êtes rattachés commercialement.</p>
            </div>
    </div>
</div>
