<div id="map-wrapper" *ngIf="scores">
    <div id="map"></div>
    <div class="legende">
        <div><i class="d4g-acces-info" aria-label="Accès à l'information"></i><span class="item-text">Accès à l'information</span></div>
        <div><i class="d4g-interfaces" aria-label="Accès aux interfaces numériques"></i><span class="item-text">Accès aux interfaces numériques</span></div>
        <div>
            <span class="d4g-administrative" aria-label="Compétences administratives"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
            <span class="item-text">Compétences administratives</span>
        </div>
        <div><i class="d4g-usage" aria-label="Capacité d'usage des interfaces numériques"></i><span class="item-text">Capacité d'usage des interfaces numériques</span></div>
    </div>
</div>
