<div id="modal-info" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" (click)="fermerModale()">&times;</span>
            <h2>Infos sur l'application</h2>
        </div>
        <div class="modal-body">
            <h3>Cette application intègre les fonctionnalités suivantes :</h3>
            <ul class="ulInfo">
                <li>Sélection/recherche d'une région pour filtrage</li>
                <li>Sélection/recherche d'un département pour filtrage</li>
                <li>Sélection/recherche d'une intercommunalité pour visualiser les zones en gradient sur la carte</li>
                <li>Sélection/recherche d'une commune pour visualiser les zones en gradient sur la carte</li>
                <li>Survol d'un quartier affiché sur la carte pour obtenir un tooltip d'information sur le score du quartier</li>
                <li>Clic sur un quartier affiché sur la carte pour obtenir son score</li>
                <li>Export PDF du résultat sur le quartier sélectionné</li>
                <li>Enregistrement en local de la dernière recherche réalisé</li>
                <li>Export des statistiques de recherche de score</li>
            </ul>
        </div>
    </div>
</div>
