<p>
    Cet outil cartographique, développé par l’Institut du Numérique Responsable (INR), permet la visualisation d'indices de fragilité numérique territoire par territoire. La fragilité numérique
    est identifiée sur des critères liés à l'accès au numérique et sur le niveau de compétences de chacun et chacun.
</p>
<h3>les quatres indicateurs de fragilité</h3>
<div class="indicateurs">
    <div>
        <i class="d4g-acces-info" aria-label="Accès à l'information"></i>
        <div class="lblInd">
            Accès à l'information
        </div>
    </div>
    <div>
        <span class="d4g-administrative" aria-label="Compétences administratives"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
        <div class="lblInd">
            Compétences administratives
        </div>
    </div>
    <div>
        <i class="d4g-interfaces" aria-label="Accès aux interfaces numériques"></i>
        <div class="lblInd">
            Accès aux interfaces numériques
        </div>
    </div>
    <div>
        <i class="d4g-usage" aria-label="Capacité d’usage des interfaces numériques"></i>
        <div class="lblInd">
            Capacité d’usage des interfaces numériques
        </div>
    </div>
</div>
<p>
    Cet outil permet de comparer l’indice de fragilité numérique d’une commune par rapport à son département ou sa région. Plus la couleur est foncée ou l’indice élevé, plus la fragilité est forte.
</p>
